<div style="text-align:center; margin-top: 50px">
  <h1>Admin</h1>
  <p>This page can only be accessed by administrators.</p>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Users</h2>
        <li class="list-group-item">Cras justo odio</li>
      </div>
      <div class="col-sm">
        <h2>Routes</h2>
        <div>
          <ul class="list-group">
            <li class="list-unstyled" *ngFor="let tRoute of tRoutes; index as routeId">
              <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/routes', tRoute.id]">Line: {{tRoute.routeName}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <h2>Vehicles</h2>
        <li class="list-group-item">Cras justo odio</li>
      </div>
    </div>
  </div>
</div>
